.filter__search {
  padding: 15px 0 20px 0;
  width: calc(100% - 20px);
  float: left;
  margin-right: 10px;
  margin-left: 10px;

  .search__row {
    width: 400px;
    float: right;

    .filter__details {
      font-size: 10px;
      float: left;
      width: 100%;
    }
  }
}

.dropdown__filter {
  width: 100%;
  margin: 0;
  padding: 20px 0 5px 0 !important;
  right: 0;
  left: auto;
  position: absolute;
  top: 100%;
  z-index: 9;
  display: block;
  float: left;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

  .option__filter {
    height: 33px;
    width: 100%;
    float: left;
    padding: 8px 30px 4px 25px;

    .option__filter-value {
      float: right;
      width: 50%;
      position: relative;

      .vue-treeselect__control {
        height: 26px !important;
        padding-left: 0;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
      }

      .option__filter-value--input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding-left: 5px;
      }

      .btn_active {
        font-size: 20px !important;
        position: absolute;
        right: 0;
      }

      .btn_inactive {
        font-size: 20px !important;
        position: absolute;
        right: 0;
      }
    }

    .option__filter-name {
      float: left;
      padding-left: 5px;
      cursor: default;
    }
  }

  .option__filter-submit {
    width: 100%;
    float: left;
    padding: 20px 30px 6px 25px;

    .btn_submit--search {
      float: right;
    }
  }
}

.dropdown-toggle::after {
  margin: 0 !important;
}

.btn__filter-open {
  background-color: $lightGrey;
  height: 35px;
  border: 1px solid $placeholder !important;
  outline: none !important;

  &:focus {
    box-shadow: none !important;
  }
}
